.containSearchTwo{
    padding: 1rem;

    p{
        padding: .5rem;
    }
    img{
        display: flex;
        align-self: center;
        justify-self: center;
        margin-top: .5rem;
    }
    .tittleAlbum{
        display: flex;
        justify-self: center;
        font-size: 1.3rem;
    }
}
