@import "../../base";

.resultadosBusqueda {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 1rem;
  height: auto;
  align-items: flex-start;

  .itemBuscado {
    background: $color-subtitulos;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    flex: 0 0 15rem;
    max-height: 23rem;

    h2 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.85rem;
      margin: 0.25rem 0;
      text-overflow: ellipsis;
      width: 100%;
    }

    .imagenSearch {
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin-top: 0.5rem;
      object-fit: cover;
    }
  }
}
.tittleAlbum{
  padding: 1rem;
  font-size: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $color-subtitulos;
}


