@import "../../base";

.header{
    display: flex;
    background-color: $color-fondo;
    padding: 1rem 2rem;
    font-family: "Story Script", sans-serif;
    font-size: 1.5rem;
    color: $color-titulos;
    justify-content: space-between;
    align-items: center;
}

.formulario{
    display: flex;
    padding: 1rem;
    margin: .5rem 1rem;
    border-radius: 1rem;
    border-color: white;
    background-color: $color-titulos;

    .buscador{
        padding: .5rem 1rem;
    }
    .butonSearch{
        padding: .3rem;
        font-size: 1.1rem;
    }
}

.menuOptions{
    gap: 1rem;
    .enlace{
        text-decoration: none;
        color: $color-titulos;
    }
}