@import "/src/base";

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto ;
}
.songs{
    display: flex;
    font-family: "Story Script", sans-serif;
    font-size: 2rem;
    color: $color-titulos;
    padding: .5rem;
}
.generalContainer{
    display: flex  ;
    background-color: $color-fondo;
    border-radius: 1rem;
    flex-direction: column;
    padding: .5rem;
    margin: 1rem;
    align-items: center ;

}
.songContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto ;
    padding: .8rem 1.5rem;
    background-color: $color-titulos;
    border-radius: 1rem;
    width: 100%;
    cursor: pointer;
    transition: transform .3s ease-in-out,  background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    .buttonContainer{
        grid-column: 2;
        grid-row: 1/3;
        align-self: center;
        justify-self: flex-end;
    }
    .addButton{
        padding: .8rem 1.5rem;
        background-color: $color-titulos;
        border-radius: 1rem;
        width: 100%;
        cursor: pointer;
        transition: transform .3s ease-in-out,  background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        font-size: 1.3rem;


        &:hover{ 
            transform: scale(1.01);
            background-color: $color-subtitulos;
            color: $color-titulos;
        }
        &:active{
            transform: scale(.90);
            background-color: $color-fondo;
            
        }
    }

    .containTwo{
        grid-column: 1/2;
        grid-row: 2;
        font-style: italic;
        color: $color-subtitulos;
        font-size: 1rem;
    }
    .songTitle{
        grid-column: 1/3;
        grid-row: 1;
        font-family: "Story Script", sans-serif;
        color: $color-fondo;
        padding-bottom: .3rem;
        cursor: pointer;
        user-select: none;

    }
    .songArtist{
        font-family: 'Courier New', Courier, monospace;
        margin-right: auto;       
        user-select: none;
        
    }
    .songDuration{
        display: flex;
        font-family: 'Courier New', Courier, monospace;
        user-select: none;

    }
    span{
        font-style: normal;
    }

}